.form{
      margin-top: 2rem;
    padding: 20px;
    background-color: transparent;
    box-shadow: 0 5px 7px rgba(0, 0,0, .2);
    border-radius: 7px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;

    .btn{
    padding: 5px;
    margin-top: 10px;
    width: 20vw;
    height: 30px; 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #f6f0f0;
    background: #38c346;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
   .btn:hover{
    background: lightblue;
    color: green;
  }
  .input-control{
    width: 70%;
    border-bottom: 1px solid #162938;
    margin: 20px 0;
  
input{
    width: 90%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    /* color: #162938; */
    font-size: 1em;
    transition: .5s;
    padding: 0 35px 0 5px;
  }
  p{
    color: red;
  }
  }
}