.card{
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
  
  .image{
   width: 100%;
   height: 200px;
   overflow: hidden;
   position: relative;

   &:hover{
    .secondImg{
      z-index: 2;
    }
   }

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
    }
    .mainImg{
      z-index: 1;
    }
  }
  button{
    background: transparent;
            color: black;
            width: 60%;
            height: 6vh;
            border-radius: 100px;
            cursor: pointer;
            border: 3px solid black;
  }
  button:hover{
    background: black;
    color: white;
  }
  h2{
    font-size: 18px;
  }
  h3{
    font-size: 14px;
    font-weight: 600;
  }
}